@font-face {
   font-family: 'OpenSans-Light';
   src:font-url('OpenSans-Light.ttf');
}

@font-face {
   font-family: 'OpenSans-Regular';
   src:font-url('OpenSans-Regular.ttf') ;
}

@font-face {
   font-family: 'OpenSans-Semibold';
   src:font-url('OpenSans-Semibold.ttf') ;
}

h2{
	
	font-family: 'OpenSans-Semibold';
}