<!DOCTYPE html>
<%= stylesheet_link_tag "main" %>
<html>

  <head>
  	
    <title>NewTestApp</title>
    
	<%= csrf_meta_tag %>
 <%= javascript_include_tag :jquery, :jquery_ujs %>
  </head>

  <body>
    <%= yield %>
    <script type="application/javascript">
            $(document).ready(function() { $(#selec).select2(); });
      </script>
   
  </body>

</html>
