<!DOCTYPE html>

<html>
  <head>
  	
    <title>NewTestApp</title>
    
	<%= csrf_meta_tag %>
 <%= javascript_include_tag :jquery, :jquery_ujs %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
